[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
streamlit = "*"

[packages]
requests = "*"
google-cloud-storage = "*"
langchain-community = "*"
langchain-chroma = "*"
langchain-huggingface = "*"
vertexai = "*"

[requires]
python_version = "3.12"
