name: Pre-Commit Checks

# Define the trigger event
on:
  push:
    branches: [milestone4]
# List the jobs
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install pre-commit
        run: |
          pip install pre-commit
          pre-commit install-hooks

      - name: Run pre-commit hooks
        run: pre-commit run --all-files

     # Step 2.1: Set PYTHONPATH to include the root directory (or src if relevant)
      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)" >> $GITHUB_ENV  # Adds current directory to PYTHONPATH


      # Step 3: Install pytest and pytest-cov for coverage
      - name: Install pytest and pytest-cov
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov

      # Step 4: Run pytest with coverage and generate HTML report
      - name: Run tests with coverage
        run: |
          pytest --cov=. --cov-report=html

      # Step 5: Upload coverage report as an artifact
      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: htmlcov  # The folder where pytest-cov stores HTML reports
